.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
}

.counter-button {
  background: none;
  border: none;
  margin: 0 25px;
  font-size: 20px;
  border: solid 1px #c0c0c0;
  border-radius: 1em;
  padding: 15px;
}
