.l-homepage {
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding-top: 75px;
}

.homepage-landing {
  height: calc(100vh - 75px);
  background-image: url("../../img/assets/landing/background-homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
}

.homepage-landing-text {
  flex: 1;
  padding: 0 50px;
  text-align: left;
}

.homepage-reservation {
  flex: 1;
}

.homepage-landing-text #homepage-landing-title {
  color: white;
  font-size: 60px;
  padding-bottom: 25px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
}

.homepage-landing-text #homepage-landing-description {
  font-size: 20px;
  padding-bottom: 25px;
  font-family: "Open-Sans", sans-serif;
  color: white;
}

.landing-cta {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top right,
    #fc4a1a,
    #ff5f38
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top right,
    #fc4a1a,
    #ff5f38
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  border: none;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.landing-cta:last-child {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c58c4,
    #3f8ffe
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c58c4,
    #3f8ffe
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage-button {
  margin: 0 5px;
}

.homepage-reservation {
  width: 40%;
}
