.l-homepage {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.homepage-landing {
  height: calc(100vh - 100px);
  background: white; /* fallback for old browsers */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-landing-text {
  flex: 1.5;
  padding: 0 100px;
  text-align: left;
}

.homepage-landing-text #homepage-landing-title {
  font-size: 60px;
  padding-bottom: 25px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1;
}

.homepage-landing-text #homepage-landing-description {
  font-size: 20px;
  padding-bottom: 25px;
  font-family: "Open-Sans", sans-serif;
}

.landing-cta {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top right,
    #fc4a1a,
    #ff5f38
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top right,
    #fc4a1a,
    #ff5f38
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  border: none;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.landing-cta:last-child {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c58c4,
    #3f8ffe
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c58c4,
    #3f8ffe
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage-landing-image {
  flex: 3;
}

.homepage-landing-image img {
  max-width: 100%;
  padding: 0 100px;
  height: auto;
}

.homepage-button {
  margin: 0 5px;
}

.homepage-howto {
  padding: 50px 0;
}

.homepage-section-title {
  font-size: 35px;
  padding-bottom: 50px;
}

.howto-row {
  display: flex;
  flex-direction: row;
}

.howto-image {
  flex: 3;
  text-align: center;
}

.howto-image img {
  padding: 50px;
  width: 70%;
}

.howto-text {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  font-size: 20px;
}

.howto-text:nth-child(even) {
  text-align: left;
}

.howto-text:nth-child(odd) {
  text-align: right;
}

.homepage-available-cars {
  height: 500px;
  width: 100%;
}
