.l-signup {
    height: calc(100vh - 100px);
    display:flex;
    flex-direction:row;
}

.signup-section {
    flex: 1;
}

.signup-form {
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.signup-form-action-item {
    background:none;
    border:none;
    background: #ecf0f1;
    border-radius: 5px;
    padding: 10px 35px;
    margin: 0 10px;
    font-size: 20px;
    transition: .2s ease;
    cursor:pointer;
}

.signup-form-action-item:hover {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    color:white;
}

.signup-image {
    background-image: url('../../img/assets/signup-image-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom center;
}
